name: Integration tests with Docker

on:
  push:
    branches: [ "master", "dev" ]
  pull_request:
    branches: [ "master", "dev" ]

permissions:
  contents: read

jobs:
  simple_client:
    name: "Tests d'intégration de Simple Client"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Lancer le docker compose
      run:  docker-compose -f docker/integration/SimpleClient/docker-compose.yml up --build --abort-on-container-exit --exit-code-from client

  virtual_api:
    name: "Tests d'intégration de Virtual API"
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Lancer le docker compose
      run:  docker-compose -f docker/integration/VirtualCRM/docker-compose.yml up --build --abort-on-container-exit --exit-code-from virtual